<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin" [fullScreen]="true">
    <p style="color: white"> Cargando... </p>
</ngx-spinner>

<div class="card col">
    <div class="p-grid">
        <div class="p-col-5 p-lg-5 p-md-5 p-sm-12">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-lg-12 p-md-12 p-sm-12">
                    <label for="estado">Reportes:</label>
                    <p-listbox [options]="reporteList" [(ngModel)]="reporteSeleccionado" optionLabel="descripcion" [listStyle]="{'max-height':'100px', 'height':'100px'}" (onChange)="onChangeReporte()"></p-listbox>
                </div>
            </div>
        </div>

        <div class="p-col-7 p-lg-7 p-md-7 p-sm-12">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-lg-12 p-md-12 p-sm-12">
                    <label for="estado">Tiendas:</label>
                    <p-multiSelect [options]="tiendaList" [(ngModel)]="tiendasSeleccionadas" optionLabel="nombre" defaultLabel="Seleccione las tiendas" selectedItemsLabel="{0} tiendas seleccionadas"></p-multiSelect>
                </div>
                <div class="p-field p-col-3 p-lg-3 p-md-3 p-sm-12">
                    <label for="estado">Fecha Inicio:</label>
                    <p-calendar [(ngModel)]="feInicio" dateFormat="dd/mm/yy" inputStyleClass="p-text-center"></p-calendar>
                </div>
                <div class="p-field p-col-3 p-lg-3 p-md-3 p-sm-12">
                    <label for="estado">Fecha Fin:</label>
                    <p-calendar [(ngModel)]="feFin" dateFormat="dd/mm/yy" inputStyleClass="p-text-center"></p-calendar>
                </div>
                <div class="p-field p-col-3 p-lg-3 p-md-3 p-sm-12 p-mt-4">
                    <button pRipple pButton label="Buscar" icon="pi pi-search" (click)="buscar()"> </button>
                </div>
            </div>
        </div>

        <p-tabView class="p-col-12 p-lg-12 p-md-12 p-sm-12">
            <p-tabPanel header="Resultados" leftIcon="pi pi-chart-bar">
                <p-table [value]="dataList" [responsive]="true" [rowHover]="true" [scrollable]="true" 
                        scrollHeight="40vh" dataKey="tienda" styleClass="p-datatable-sm p-datatable-striped">
                    <ng-template pTemplate="colgroup">
                        <col style="width:90px;">
                        <col style="width:80px;">
                        <col style="width:120px;">
                        <col style="width:120px;">
                        <col style="width:80px;">
                        <col style="width:80px;">
                        <col style="width:120px;">
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Fecha </th>
                            <th>Turno </th>
                            <th>Forma de Pago </th>
                            <th>Cajero </th>
                            <th style="text-align: right;">Importe </th>
                            <th style="text-align: right;">Comandas </th>
                            <th>Administrador </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-venta let-rowIndex="rowIndex" let-expanded="expanded">
                        <tr *ngIf="rowGroupMetadata[venta.tienda].index === rowIndex">
                            <td colspan="4">
                                <button type="button" pButton pRipple [pRowToggler]="venta" [label]="'Tienda: ' + venta.nombreTienda + ' (' + rowGroupMetadata[venta.tienda].size + ')'" class="p-button-text p-button-rounded p-button-plain p-mr-2 p-text-bold" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                            </td>
                            <td style="text-align: right;">
                                <span class="p-text-bold ">{{rowGroupMetadata[venta.tienda].importe | number: '.2-2'}} </span>
                            </td>
                            <td style="text-align: right;">
                                <span class="p-text-bold ">{{rowGroupMetadata[venta.tienda].comandas | number: '.0-0'}} </span>
                            </td>
                            <td></td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="rowexpansion" let-ventas>
                        <tr>
                            <td>{{ventas.openDate}}</td>
                            <td>{{ventas.punchIndex}}</td>
                            <td>{{ventas.descript}}</td>
                            <td>{{ventas.posName}}</td>
                            <td style="text-align: right;">{{ventas.importe | number: '.2-2'}}</td>
                            <td style="text-align: right;">{{ventas.nr | number: '.0-0'}}</td>
                            <td>{{ventas.administrador}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-tabPanel>
            <p-tabPanel header="Tiendas no Conectadas" leftIcon="pi pi-home">
                <app-tienda-error [tiendaErrorList]="tiendaErrorList"></app-tienda-error>
            </p-tabPanel>
        </p-tabView>

        <div class="p-col-12 p-lg-12 p-md-12 p-sm-12">
            <button pRipple pButton label="Exportar" icon="pi pi-file-excel" (click)="exportar()"> </button>      
        </div>
    </div>
</div>
