<div id="container" class="p-d-flex p-flex-column">
    <div style="display: grid; justify-content: center; text-align: center;">
        <h2 class="p-mb-2">Anular Cupones</h2>
        <div style="color: #4e8fb8;">
            <div class="p-grid p-col-12 p-lg-12 p-md-12 p-sm-12" style="padding-left: 18%;">
                <label class="p-mb-2" style="font-weight: bold;">Campaña {{Campanha}}</label>
            </div>
        </div>

        <div class="p-mb-2">
            <div class="p-mb-3">
                <label for="inicio" class="p-mb-5" style="font-weight: 600; font-size: 1.1rem;">Se anularan los cupones pendientes</label><br/>
            </div>
            <div style="padding: 0px 14%;">
                <label for="inicio">¿Esta seguro de anular los cupones pendientes?</label>
            </div>
        </div>
        <div class="p-mb-2">
            <div class="p-field p-grid p-col-12 p-lg-12 p-md-12 p-sm-12 ">
                 <label for="inicio" class="p-field p-grid p-col-12 p-lg-12 p-md-12 p-sm-12 ">Motivo Anulación:</label>
                 <div class="p-col p-field p-grid p-col-12 p-lg-12 p-md-12 p-sm-12 ">
                    <input type="text" id="Motivo" [(ngModel)]="Motivo" name="Motivo">                
                 </div>
            </div>
       </div>
    </div>   
    
    <div class="p-mb-2 p-d-flex p-jc-center p-mt-3 p-col-12 p-lg-12 p-md-12 p-sm-12">
        <div class="p-d-flex p-jc-end">
            <button pButton pRipple pTooltip="Sí" tooltipPosition="bottom" label="Sí"  (click)="Confirmar()" icon="pi pi-check" class="p-button-success p-mr-2"></button>
            <button pButton pRipple pTooltip="No" tooltipPosition="bottom" label="No" (click)="cancelar()" icon="pi pi-times" class="p-button-secondary"></button>
        </div>
   </div>
</div>

