<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-spin"
  [fullScreen]="true"
>
  <p style="color: white">Cargando...</p>
</ngx-spinner>

<div class="card col">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="Nuevo"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="add()"
        pTooltip="Nuevo"
        tooltipPosition="bottom"
      ></button>
      <!-- <button pButton pRipple label="Editar" icon="pi pi-pencil" class="p-button-info p-mr-5" (click)="edit()" pTooltip="Editar" tooltipPosition="bottom"></button>
              <button pButton pRipple label="Eliminar" icon="pi pi-times" class="p-button-danger p-mr-5" (click)="remove()" pTooltip="Eliminar" tooltipPosition="bottom"></button>
              <button pButton pRipple label="Consultar" icon="pi pi-eye" class="p-button-help" (click)="view()" pTooltip="Consultar" tooltipPosition="bottom"></button> -->
    </ng-template>

    <ng-template pTemplate="right"> </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="tiendaBeneficioLista"
    [responsive]="true"
    [rows]="25"
    [paginator]="true"
    [rowHover]="true"
    dataKey="uniqueKey"
    [globalFilterFields]="['storeName']"
    [scrollable]="true"
    scrollHeight="40vh"
    styleClass="p-datatable-sm p-datatable-striped"
    columnResizeMode="expand"
    currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[15, 25, 50, 100]"
    selectionMode="single"
    [(selection)]="storeSelected"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h1 class="p-m-0">Tiendas Beneficio</h1>

        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            #txtFind
            type="text"
            (input)="applyFilterGlobal($event, 'contains')"
            placeholder="Buscar..."
            autocomplete="off"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="colgroup">
      <colgroup *ngIf="!isMobile">
        <col style="width: 10%" />
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="marca">
          Centro de Costo <p-sortIcon field="marca"></p-sortIcon>
        </th>
        <th pSortableColumn="sk">Codigo de Tienda <p-sortIcon field="sk"></p-sortIcon></th>
        <th pSortableColumn="porcentaje">
          Nombre de la Tienda <p-sortIcon field="porcentaje"></p-sortIcon>
        </th>
        <th pSortableColumn="desMaximo">
          Permite descuento <p-sortIcon field="desMaximo"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tienDes>
      <tr [pSelectableRow]="tienDes">
        <td>
          <span class="p-column-title">Centro de Costo</span
          >{{ tienDes.centroCosto }}
        </td>
        <td>
          <span class="p-column-title">Codigo de Tienda</span
          >{{ tienDes.codTienda }}
        </td>
        <td>
          <span class="p-column-title">Nombre de la Tienda</span
          >{{ tienDes.storeName }}
        </td>
        <td>
          <span class="p-column-title">Permite descuento</span
          >{{ tienDes.canUseDiscount }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        {{
          (tiendaBeneficioLista ? tiendaBeneficioLista.length : 0)
            | i18nPlural : cantidadMap
        }}
      </div>
    </ng-template>
  </p-table>

  <p-dialog header="Agregar tienda" [(visible)]="display" [style]="{ width: '50vw' }">
    <div class="p-grid">
      <div class="p-col-12 p-lg-12 p-md-12 p-sm-12">
        <form [formGroup]="tiendaForm" class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-lg-12 p-md-12 p-sm-12">
            <label for="dia">{{ "Tienda:" }}</label>
            <p-dropdown
              id="codTienda"
              [options]="tiendasList"
              formControlName="codTienda"
              optionLabel="nombreTienda"
              placeholder="Seleccione una tienda"
              [(ngModel)]="storeSelected"
              name="codTienda"
              [filter]="true"
            >
            </p-dropdown>
          </div>
          <div style="height: 250px;"></div>
        </form>

        <div class="p-d-flex p-jc-end p-mt-3">
          <button
            pButton
            pRipple
            pTooltip="Guardar"
            tooltipPosition="bottom"
            label="Guardar"
            icon="pi pi-save"
            class="p-button-success p-mr-2"
            (click)="save()"
            [disabled]="!tiendaForm.valid"
          ></button>
          <button
            pButton
            pRipple
            pTooltip="Cancelar"
            tooltipPosition="bottom"
            label="Cancelar"
            icon="pi pi-times"
            class="p-button-secondary"
            (click)="cancelar()"
          ></button>
        </div>
      </div>
    </div>
  </p-dialog>
</div>
