<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin" [fullScreen]="true">
  <p style="color: white"> Cargando... </p>
</ngx-spinner>

<div class="card col">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left"></ng-template>
      <ng-template pTemplate="right">
        <p-button label="Exportar" icon="pi pi-upload" (click)="exportar()" pTooltip="Exportar" tooltipPosition="bottom"
          styleClass="p-button-info">
        </p-button>
      </ng-template>
    </p-toolbar>
  
    <p-table [value]="cuponesGenerados"#dt [responsive]="true" [rows]="25" [paginator]="true" [rowHover]="true" dataKey="id" [scrollable]="true"
      scrollHeight="40vh" [rowsPerPageOptions]="[15,25,50,100]"
      currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros" [showCurrentPageReport]="true"
      styleClass="p-datatable-sm p-datatable-striped">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-jc-between">
          <div class="p-grid p-ai-center vertical-container">
            <h1 class="p-col p-m-0">Cupones</h1>
          </div>
  
          <div class="p-fluid p-form-grid p-grid p-jc-end">
            <div class="p-field p-lg-8 p-md-8 p-sm-6">
              <label for="cantidad">Cód. Cupon:</label>
              <input type="text" #codcupon [(ngModel)]="codigocupon" pInputText>
         </div>

            <div class="p-field p-mr-2 p-ml-2">
              <button pButton pRipple type="button" label="Buscar" pTooltip="Buscar" tooltipPosition="bottom"
              (click)="buscar()" style="margin-top: 2.30rem" icon="pi pi-search"></button>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="colgroup">
        <col style="width:80px;">
        <col style="width:80px;">
        <col style="width:80px;">
        <col style="width:80px;">
        <col style="width:80px;">
        <col style="width:100px;">
        <col style="width:320px;">
        <col style="width:140px;">
        <col style="width:140px;">
        <col style="width:120px;">
        <col style="width:320px;">
        <col style="width:320px;">
    </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>N° Pedido</th>
          <th>Marca</th>
          <th>Canal</th>
          <th>Cod Tienda</th>
          <th>Cupon</th>
          <th>Cod Cajero</th>
          <th>Nombre Campaña</th>
          <th>Fecha Registro</th>
          <th>Fecha Actualización</th>
          <th>Nombre Cajero</th>
          <th>Nombre Tienda</th>
      </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cupong>
        <tr>
          <td>{{cupong.nroPedido}}</td>
          <td>{{cupong.marca}}</td>
          <td>{{cupong.canal}}</td>
          <td>{{cupong.codtienda}}</td>
          <td>{{cupong.codCupon}}</td>
          <td>{{cupong.codCajero}}</td>
          <td>{{cupong.nombreCampanha}}</td>
          <td>{{cupong.fecRegistro}}</td>
          <td>{{cupong.fecActualizacion}}</td>
          <td>{{cupong.nombreCajero}}</td>
          <td>{{cupong.nombreTienda}}</td>
        </tr>
      </ng-template>
  
    </p-table>
  </div>
  