<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-spin"
  [fullScreen]="true"
>
  <p style="color: white">Cargando...</p>
</ngx-spinner>

<div class="card col">
  <div class="p-grid">
    <div class="p-col-12 p-lg-12 p-md-12 p-sm-12">
      <form [formGroup]="aperturaForm" class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-3 p-lg-3 p-md-6 p-sm-12">
          <label for="tipoDoc">{{ this.keys['empresa']?.label_value || 'Empresa:' }}</label>
          <p-dropdown
            id="tipoDoc"
            [options]="marcasList"
            formControlName="idEmpresa"
            optionLabel="nombreComercial"
            optionValue="idEmpresa"
            placeholder="Seleccione una empresa"
            (onChange)="handleEmpresaChange($event)"
            name="idEmpresa"
          >
          </p-dropdown>
        </div>
        <div class="p-field p-col-3 p-lg-3 p-md-3 p-sm-12">
          <label for="documento">{{ this.keys['mvformato']?.label_value || 'MV Formato:' }}</label>
          <p-dropdown
            id="mvFormato"
            [options]="formatosList"
            formControlName="MVFormato"
            optionLabel="formato"
            placeholder="Seleccione un formato"
            name="mvFormato"
          >
          </p-dropdown>
        </div>

        <div class="p-field p-col-3 p-lg-3 p-md-3 p-sm-12">
          <label for="documento">{{ this.keys['tiendaSapPadre']?.label_value || 'Tienda Padre:' }}</label>
          <p-dropdown
            name="tiendaPadre"
            [options]="tiendasByMarcaList"
            [(ngModel)]="tiendaPadreSeleccionada"
            [ngModelOptions]="{ standalone: true }"
            optionLabel="nombreTienda"
            [filter]="true"
            filterBy="nombreTienda"
            [showClear]="true"
            placeholder="Selecciona tienda padre"
          >
            <ng-template pTemplate="selectedItem">
              <div
                class="flex align-items-center gap-2"
                *ngIf="tiendaPadreSeleccionada"
              >
                <div>{{ tiendaPadreSeleccionada.nombreTienda }}</div>
              </div>
            </ng-template>
            <ng-template let-tienda pTemplate="item">
              <div class="flex align-items-center gap-2">
                <div>{{ tienda.nombreTienda }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>

        <div class="p-field p-col-3 p-lg-3 p-md-6 p-sm-12">
          <label for="tipoDoc">{{ this.keys['tiendasap']?.label_value || 'Tienda SAP:' }}</label>
          <input
            type="text"
            autofocus
            autocomplete="off"
            pInputText
            aria-describedby="tiendaSap-help"
            formControlName="tiendaSap"
            required
            [placeholder]="this.keys['tiendasap']?.label_placeholder || ''"
            (keypress)="validateTiendaSapInput($event)"
            (input)="onTiendaSapInput($event)"
          />
          <small class="p-error" *ngIf="tiendaSap.errors?.required && (tiendaSap.dirty || tiendaSap.touched)">
            Campo Obligatorio
          </small>
          <small class="p-error" *ngIf="tiendaSap.errors?.pattern && (tiendaSap.dirty || tiendaSap.touched)">
            Debe comenzar con 'T' seguido de 4 dígitos.
          </small>
        </div>
        <div class="p-field p-col-3 p-lg-3 p-md-6 p-sm-12">
          <label for="tipoDoc">{{ this.keys['tiendaPixel']?.label_value || 'Tienda Pixel:' }}</label>
          <input
            type="text"
            autofocus
            autocomplete="off"
            pInputText
            aria-describedby="tiendaPixel-help"
            formControlName="tiendaPixel"
            required
            name="tiendaPixel"
            maxlength="5"
            [placeholder]="this.keys['tiendaPixel']?.label_placeholder || ''"
            (keydown)="validateNumericInput($event)"
          />
          <small
            class="p-error"
            *ngIf="
              tiendaPixel.invalid && (tiendaPixel.dirty || tiendaPixel.touched)
            "
            >Campo Obligatorio</small
          >
        </div>
        <div class="p-field p-col-3 p-lg-3 p-md-3 p-sm-12">
          <label for="documento">{{ this.keys['ipBase']?.label_value || 'IP Base:' }}</label>
          <input
            type="text"
            autofocus
            autocomplete="off"
            pInputText
            aria-describedby="ip-help"
            formControlName="ip"
            required
            name="ip"
            [placeholder]="this.keys['ipBase']?.label_placeholder || ''"
          />
          <small
            class="p-error"
            *ngIf="
              ip.invalid && (ip.dirty || ip.touched) && ip?.errors?.required
            "
            >Campo Obligatorio</small
          >
          <small
            class="p-error"
            *ngIf="
              ip.invalid && (ip.dirty || ip.touched) && ip?.errors?.pattern
            "
            >Ingrese un IP válido</small
          >
        </div>
        <div class="p-field p-col-3 p-lg-3 p-md-3 p-sm-12">
          <label for="documento">{{ this.keys['codigoBase']?.label_value || 'Código Base:' }}</label>
          <input
            type="text"
            autofocus
            autocomplete="off"
            pInputText
            aria-describedby="codBase-help"
            formControlName="codigoBase"
            required
            name="codBase"
            [placeholder]="this.keys['codigoBase']?.label_placeholder || ''"
            (keydown)="validateNumericInput($event)"
          />
          <small
            class="p-error"
            *ngIf="
              codigoBase.invalid && (codigoBase.dirty || codigoBase.touched)
            "
            >Campo Obligatorio y máximo 5 caracteres</small
          >
        </div>
        <div class="p-field p-col-3 p-lg-3 p-md-3 p-sm-12">
          <label for="documento">{{ this.keys['centroBeneficio']?.label_value || 'Centro Beneficio:' }}</label>
          <input
            type="text"
            autofocus
            autocomplete="off"
            pInputText
            aria-describedby="centroBene-help"
            formControlName="centroBeneficio"
            required
            maxlength="9"
            name="centroBene"
            [placeholder]="this.keys['centroBeneficio']?.label_placeholder || ''"
            (keydown)="validateNumericInput($event)"
          />
          <small
            class="p-error"
            *ngIf="
              centroBeneficio.invalid &&
              (centroBeneficio.dirty || centroBeneficio.touched)
            "
            >Campo Obligatorio</small
          >
          <small
            class="p-error"
            *ngIf="
              centroBeneficio.invalid &&
              (centroBeneficio.dirty || centroBeneficio.touched) &&
              centroBeneficio?.errors?.maxLength
            "
            >Máximo 10 caracteres</small
          >
        </div>
        <div class="p-field p-col-3 p-lg-3 p-md-3 p-sm-12">
          <label for="documento">{{ this.keys['nombreTienda']?.label_value || 'Nombre Tienda:' }}</label>
          <input
            type="text"
            autofocus
            autocomplete="off"
            pInputText
            aria-describedby="nombreTienda-help"
            formControlName="nombreTienda"
            required
            name="nombreTienda"
            placeholder="Ingrese el nombre de la tienda..."
          />
          <small
            class="p-error"
            *ngIf="
              nombreTienda.invalid &&
              (nombreTienda.dirty || nombreTienda.touched)
            "
            >Campo Obligatorio</small
          >
        </div>
        <div class="p-field p-col-3 p-lg-3 p-md-3 p-sm-12">
          <label for="documento">{{ this.keys['fechaInicioOpera']?.label_value || 'Fecha Inicio Operacion:' }}</label>
          <p-calendar
            dateFormat="dd/mm/yy"
            name="fechaInicio"
            formControlName="fechaInicioOpera"
            [showIcon]="true"
            placeholder="Seleccione una fecha de inicio..."
          ></p-calendar>
          <small
            class="p-error"
            *ngIf="
              fechaInicioOpera.invalid &&
              (fechaInicioOpera.dirty || fechaInicioOpera.touched) &&
              fechaInicioOpera?.errors?.required
            "
            >Campo Obligatorio</small
          >
        </div>
        <div class="p-field p-col-3 p-lg-3 p-md-3 p-sm-12">
          <label for="documento">{{ this.keys['emailTienda']?.label_value || 'Email Tienda:' }}</label>
          <input
            type="text"
            autofocus
            autocomplete="off"
            pInputText
            aria-describedby="tiendaEmail-help"
            formControlName="emailTienda"
            required
            name="tiendaEmail"
            type="email"
            placeholder="Ingrese un email..."
          />
          <small
            class="p-error"
            *ngIf="
              emailTienda.invalid &&
              (emailTienda.dirty || emailTienda.touched) &&
              emailTienda?.errors?.required
            "
            >Campo Obligatorio</small
          >
          <small
            class="p-error"
            *ngIf="
              emailTienda.invalid &&
              (emailTienda.dirty || emailTienda.touched) &&
              emailTienda?.errors?.email
            "
            >Campo debe ser un correo</small
          >
        </div>        

        <div class="p-field p-col-2 p-lg-2 p-md-2 p-sm-12 p-mt-4"></div>
        <!-- CAMPOS REAL PLAZA -->
        <div class="p-field p-col-3 p-lg-3 p-md-3 p-sm-12">
          <label for="documento">{{ this.keys['inmuebleRP']?.label_value || 'Inmueble RP:' }}</label>
          <input
            type="text"
            autofocus
            autocomplete="off"
            pInputText
            aria-describedby="inmuebleRP-help"
            formControlName="inmuebleRP"
            tabindex="1"
            name="inmuebleRP"
            type="text"
            placeholder="Ejm: 194"
          />
          <small
            class="p-message-info"
            >Este Campo NO es Obligatorio</small
          >          
        </div>

        <div class="p-field p-col-3 p-lg-3 p-md-3 p-sm-12">
          <label for="documento">{{ this.keys['localRP']?.label_value || 'Local RP:' }}</label>
          <input
            type="text"
            autofocus
            autocomplete="off"
            pInputText
            aria-describedby="localRP-help"
            formControlName="localRP"
            tabindex="1"
            name="localRP"
            type="text"
            placeholder="Ejm: LCE-105"
          />
          <small
            class="p-message-info"
            >Este Campo NO es Obligatorio</small
          >
        </div>

        <div class="p-field p-grid p-col-12 p-lg-12 p-md-12 p-sm-12">
        <!-- Proceso Automatico -->
        <div class="p-field-radiobutton p-col-6 p-lg-6 p-md-6 p-sm-12">
          <p-radioButton name="tipoPA" value="1" formControlName="tipoPA" inputId="count-times1">
          </p-radioButton>
          <label for="only">Jockey Plaza</label>
        </div>
        <div class="p-field-radiobutton p-col-6 p-lg-6 p-md-6 p-sm-12">
          <p-radioButton name="tipoPA" value="2" formControlName="tipoPA" inputId="count-times2">
          </p-radioButton>
          <label for="more">Urbanova</label>
        </div>

        <ng-container *ngIf="tipoPA.value == 1">
          <div class="p-field p-col-3 p-lg-3 p-md-3 p-sm-12">
            <label for="documento">{{ this.keys['dePrefijo']?.label_value || 'Prefijo:' }}</label>
            <input
              type="text"
              autofocus
              autocomplete="off"
              pInputText
              aria-describedby="dePrefijo-help"
              formControlName="dePrefijo"
              name="dePrefijo"
              type="text"
              placeholder="Ejm: 194"
            />
          </div>
          <div class="p-field p-col-3 p-lg-3 p-md-3 p-sm-12">
            <label for="documento">{{ this.keys['idMall']?.label_value || 'ID Mall:' }}</label>
            <input
              type="text"
              autofocus
              autocomplete="off"
              pInputText
              aria-describedby="idMall-help"
              formControlName="idMall"
              name="idMall"
              type="number"
              placeholder="Ejm: 194"
            />      
          </div>
          <div class="p-field p-col-3 p-lg-3 p-md-3 p-sm-12">
            <label for="documento">{{ this.keys['nuStore']?.label_value || 'NU Store:' }}</label>
            <input
              type="text"
              autofocus
              autocomplete="off"
              pInputText
              aria-describedby="nuStore-help"
              formControlName="nuStore"
              name="nuStore"
              type="text"
              placeholder="Ejm: 194"
            />       
          </div>
          <div class="p-field p-col-3 p-lg-3 p-md-3 p-sm-12">
            <label for="documento">{{ this.keys['idStore']?.label_value || 'ID Store:' }}</label>
            <input
              type="text"
              autofocus
              autocomplete="off"
              pInputText
              aria-describedby="idStore-help"
              formControlName="idStore"
              name="idStore"
              type="number"
              placeholder="Ejm: 194"
            />       
          </div>
        </ng-container>
        <ng-container *ngIf="tipoPA.value == 2">
          <div class="p-field p-col-3 p-lg-3 p-md-3 p-sm-12">
            <label for="documento">{{ this.keys['dePrefijo']?.label_value || 'Prefijo:' }}</label>
            <input
              type="text"
              autofocus
              autocomplete="off"
              pInputText
              aria-describedby="dePrefijo-help"
              formControlName="dePrefijo"
              name="dePrefijo"
              type="text"
              placeholder="Ejm: 194"
            />         
          </div>
          <div class="p-field p-col-3 p-lg-3 p-md-3 p-sm-12">
            <label for="documento">{{ this.keys['idStore']?.label_value || 'ID Store:' }}</label>
            <input
              type="text"
              autofocus
              autocomplete="off"
              pInputText
              aria-describedby="idStore-help"
              formControlName="idStore"
              name="idStore"
              type="number"
              placeholder="Ejm: 194"
            />
          </div>
        </ng-container>
        </div>
      </form>

      <div class="p-d-flex p-jc-end p-mt-3">
        <button
          pButton
          pRipple
          pTooltip="Guardar"
          tooltipPosition="bottom"
          label="Guardar"
          icon="pi pi-save"
          class="p-button-success p-mr-2"
          (click)="save()"
          [disabled]="!aperturaForm.valid"
        ></button>
        <button
          pButton
          pRipple
          pTooltip="Cancelar"
          tooltipPosition="bottom"
          label="Cancelar"
          icon="pi pi-times"
          class="p-button-secondary"
          (click)="cancelar()"
        ></button>
      </div>
    </div>
  </div>
</div>
