<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-spin"
  [fullScreen]="true"
>
  <p style="color: white">Cargando...</p>
</ngx-spinner>

<div class="card col">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="Nuevo"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="add()"
        pTooltip="Nuevo"
        tooltipPosition="bottom"
      ></button>
      <button
        pButton
        pRipple
        label="Editar"
        icon="pi pi-pencil"
        class="p-button-info p-mr-5"
        (click)="edit()"
        pTooltip="Editar"
        tooltipPosition="bottom"
      ></button>
      <button
        pButton
        pRipple
        label="Eliminar"
        icon="pi pi-times"
        class="p-button-danger p-mr-5"
        (click)="remove()"
        pTooltip="Eliminar"
        tooltipPosition="bottom"
      ></button>
      <!-- <button
        pButton
        pRipple
        label="Consultar"
        icon="pi pi-eye"
        class="p-button-help"
        (click)="view()"
        pTooltip="Consultar"
        tooltipPosition="bottom"
      ></button> -->
    </ng-template>

    <ng-template pTemplate="right"> </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="feriadosLista"
    [responsive]="true"
    [rows]="25"
    [paginator]="true"
    [rowHover]="true"
    dataKey="uniqueKey"
    [globalFilterFields]="['descripcion']"
    [scrollable]="true"
    scrollHeight="40vh"
    styleClass="p-datatable-sm p-datatable-striped"
    columnResizeMode="expand"
    currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[15, 25, 50, 100]"
    selectionMode="single"
    [(selection)]="feriadoSelected"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h1 class="p-m-0">Feriados</h1>

        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            #txtFind
            type="text"
            (input)="applyFilterGlobal($event, 'contains')"
            placeholder="Buscar..."
            autocomplete="off"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="colgroup">
      <colgroup *ngIf="!isMobile">
        <col style="width: 10%" />
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="dia">Día <p-sortIcon field="dia"></p-sortIcon></th>
        <th pSortableColumn="mes">Mes <p-sortIcon field="mes"></p-sortIcon></th>
        <th pSortableColumn="descripcion">
          Descripcion <p-sortIcon field="descripcion"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-feriado>
      <tr [pSelectableRow]="feriado">
        <td>
          <span class="p-column-title">Día feriado</span>{{ feriado.dia }}
        </td>
        <td>
          <span class="p-column-title">Mes feriado</span>{{ feriado.mes }}
        </td>
        <td>
          <span class="p-column-title">Descripcion</span
          >{{ feriado.descripcion }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        {{
          (feriadosLista ? feriadosLista.length : 0) | i18nPlural : cantidadMap
        }}
      </div>
    </ng-template>
  </p-table>

  <p-dialog header="Title" [(visible)]="display" [style]="{ width: '50vw' }">
    <div class="p-grid">
      <div class="p-col-12 p-lg-12 p-md-12 p-sm-12">
        <form [formGroup]="feriadoForm" class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-6 p-lg-6 p-md-6 p-sm-12">
            <label for="dia">{{ "Día:" }}</label>
            <input
              type="text"
              autofocus
              autocomplete="off"
              pInputText
              aria-describedby="dia-help"
              formControlName="dia"
              required
              tabindex="1"
              name="dia"
              type="number"
            />
            <small
              class="p-error"
              *ngIf="
                dia.invalid &&
                (dia.dirty || dia.touched) &&
                dia?.errors?.required
              "
              >Campo Obligatorio</small
            >
          </div>

          <div class="p-field p-col-6 p-lg-6 p-md-6 p-sm-12">
            <label for="mes">{{ "Día:" }}</label>
            <input
              type="text"
              autofocus
              autocomplete="off"
              pInputText
              aria-describedby="mes-help"
              formControlName="mes"
              required
              tabindex="1"
              name="mes"
              type="number"
            />
            <small
              class="p-error"
              *ngIf="
                mes.invalid &&
                (mes.dirty || mes.touched) &&
                mes?.errors?.required
              "
              >Campo Obligatorio</small
            >
          </div>

          <div class="p-field p-col-12 p-lg-12 p-md-12 p-sm-12">
            <label for="tipoDoc">{{ "Descripcion:" }}</label>
            <input
              type="text"
              autofocus
              autocomplete="off"
              pInputText
              aria-describedby="descripcion-help"
              formControlName="descripcion"
              required
              tabindex="1"
              name="descripcion"
            />
            <small
              class="p-error"
              *ngIf="
                descripcion.invalid &&
                (descripcion.dirty || descripcion.touched)
              "
              >Campo Obligatorio</small
            >
          </div>

          <div class="p-field p-col-2 p-lg-2 p-md-2 p-sm-12 p-mt-4"></div>
        </form>

        <div class="p-d-flex p-jc-end p-mt-3">
          <button
            pButton
            pRipple
            pTooltip="Guardar"
            tooltipPosition="bottom"
            label="Guardar"
            icon="pi pi-save"
            class="p-button-success p-mr-2"
            (click)="save()"
            [disabled]="!feriadoForm.valid"
          ></button>
          <button
            pButton
            pRipple
            pTooltip="Cancelar"
            tooltipPosition="bottom"
            label="Cancelar"
            icon="pi pi-times"
            class="p-button-secondary"
            (click)="cancelar()"
          ></button>
        </div>
      </div>
    </div>
  </p-dialog>
</div>
