<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin" [fullScreen]="true">
  <p style="color: white"> Cargando... </p>
</ngx-spinner>

<div class="card col">
  <div class="p-d-flex p-jc-between">
    <div>
      <h1 style="margin: 5px 0;">Nuevo Cupón Omnicanal </h1>
    </div>
  </div>

  <hr style="margin: 0 0 15px 0;">

  <form #formulario="ngForm" class="p-grid" autocomplete="off">
    <div class="p-d-flex p-flex-column w-100">
      <!-- Datos principales -->
      <div class="p-mb-2 p-mt-2 p-margen">
        <div class="p-fluid p-formgrid p-grid w-100">
          <div class="p-field p-col-3 p-md-3 p-sm-3">
            <label for="nombreCampanha">Campaña (*):</label>
            <input required  maxlength="100"
              [ngClass] = "{' ng-invalid ng-dirty ': nombreCampanha.invalid && (nombreCampanha.dirty || nombreCampanha.touched)}" 
              id="nombreCampanha" type="text" pInputText #nombreCampanha="ngModel" [(ngModel)]="cuponOmni.nombreCampanha" name="nombreCampanha"
              [disabled]="type === 'V'">
            <small class="p-error" *ngIf="nombreCampanha.invalid && (nombreCampanha.dirty || nombreCampanha.touched)">Campo Obligatorio</small>
          </div>

          <div class="p-field p-col-3 p-md-3 p-sm-3">
            <label for="tipo">Tipo (*):</label>
            <p-dropdown [options]="tipos" [(ngModel)]="selectionTypeCupon" optionLabel="nombre" [showClear]="true" [ngModelOptions]="{standalone: true}"
            optionDisabled="inactive" optionValue="codigo" (onChange)="showADetailsUnique($event)" [disabled]="type === 'V'" id="TiposC">
            </p-dropdown>
            <small class="p-error" *ngIf="selectionTypeCupon == '0'">Seleccionar Campo</small>
          </div>
          
          <div class="p-field p-col-3 p-md-3 p-sm-3">
            <label for="fecInicio">Inicio (*):</label>
            <p-calendar [(ngModel)]="cuponOmni.fecInicio" [minDate]="minDate" [showTime]="true" dateFormat="dd/mm/yy" inputStyleClass="p-text-center" name="fecInicio" #fecInicio="ngModel" id="fecInicio" [disabled]="type === 'V'"></p-calendar>
            <small class="p-error" *ngIf="!fecInicio.dirty || !fecInicio.touched">Fecha Obligatoria</small>
          </div>
          <div class="p-field p-col-3 p-md-3 p-sm-3">
            <label for="fecFin">Fin (*):</label>
            <p-calendar [(ngModel)]="cuponOmni.fecFin" [disabled]="type === 'V'" [minDate]="minDate" [showTime]="true" dateFormat="dd/mm/yy" inputStyleClass="p-text-center" name="fecFin" #fecFin="ngModel" id="fecFin"></p-calendar>
            <small class="p-error" *ngIf="!fecFin.dirty || !fecFin.touched">Fecha Obligatoria</small>
          </div>
        </div>

        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-3 p-md-3 p-sm-3">
            <label for="alianza">Alianzas (*):</label>
            <input required 
              [ngClass] = "{' ng-invalid ng-dirty ': alianza.invalid && (alianza.dirty || alianza.touched)}" 
              id="alianza" type="text" pInputText #alianza="ngModel" [(ngModel)]="cuponOmni.alianza" name="alianza"
              [disabled]="type === 'V'">
            <small class="p-error" *ngIf="alianza.invalid && (alianza.dirty || alianza.touched)">Campo Obligatorio</small>
          </div>

          <div class="p-field p-col-3 p-md-3 p-sm-3">
            <label for="tipo">Origen (*):</label>
            <p-dropdown [options]="origenes" [(ngModel)]="SeleccionOrigen" optionLabel="nombre" [showClear]="true" [ngModelOptions]="{standalone: true}"
            optionDisabled="inactive" optionValue="codigo" (onChange)="showADetailsUnique($event)" [disabled]="type === 'V'" id="Origen">
            </p-dropdown>
            <small class="p-error" *ngIf="SeleccionOrigen == '0'">Seleccionar Campo</small>
          </div>

          <div class="p-field p-col-3 p-md-3 p-sm-3">
            <label for="Aliados">Aliados (*):</label>
            <p-dropdown [options]="Aliados" [(ngModel)]="SeleccionAliados" optionLabel="nombre" [showClear]="true" [ngModelOptions]="{standalone: true}"
            optionDisabled="inactive" optionValue="codigo" (onChange)="showADetailsUnique($event)" [disabled]="type === 'V'" id="Aliados">
            </p-dropdown>
            <small class="p-error" *ngIf="SeleccionAliados == '0'">Seleccionar Campo</small>
          </div>

          <div class="p-field p-col-3 p-md-3 p-sm-3" style="padding-top: 25px;" *ngIf="!showExento">
            <p-checkbox name="Exento"  [(ngModel)]="Exento" value="Exento" id="Exento" #checkBox3>
            </p-checkbox>
            <label for="call">Exento de la compra minima (Solo canales con delivery)</label>
          </div>
        </div>
      </div>
      <div class="p-d-flex p-flex-row" style="justify-content: space-around;">
        <!-- Acordeon General -->
        <div class="p-mb-2 p-mt-2 accordion-container" style="flex: 1;">
          <p-fieldset legend="General (*)">
            <label for="">Tipo :</label>
            <div class="p-fluid p-formgrid p-grid w-100">
              <div style="display: flex; padding: 5px 0; width: 100%; justify-content: space-around;">
                <div class="p-field-radiobutton">
                  <p-radioButton name="count-times" value="1" inputId="only" (click)="showADetailsUnique($event)"
                    [(ngModel)]="selectCountTimes"></p-radioButton>
                  <label for="only">Autogenerado</label>
                </div>
                <div class="p-field-radiobutton ">
                  <p-radioButton name="count-times" value="2" inputId="more" (click)="showADetailsUnique($event)"
                    [(ngModel)]="selectCountTimes">
                  </p-radioButton>
                  <label for="more">Unico</label>
                </div>
              </div>

              <div style="display: flex; flex-wrap: wrap;">
                <!-- Unico -->             
                <div class="p-field p-col-6 p-md-6 p-sm-6" *ngIf="showCuponesGenerar">
                  <label for="nroCuponAGenerar" *ngIf="showtipo2" >Cupones a generar(*):</label>
                  <label for="nroCuponAGenerar" *ngIf="showtipo1 && this.type !== 'N'" style="font-weight: bolder;" >Cupones actuales ({{CantidadInter}}):</label>
                  <!-- [disabled]="selectCountTimes == 2" -->
                  <input #nroCuponAGenerar="ngModel" id="nroCuponAGenerar" type="number" pInputText [(ngModel)]="cuponOmni.nroCuponAGenerar" name="nroCuponAGenerar" min="1" [disabled]="this.selectCountTimes == '1'? false: true">
                  <small class="p-error" *ngIf="nroCuponAGenerar.value < 1 ">Cupones a generar diferente de cero.</small>
                  <!-- <button pButton pRipple label="Agregar más cupones"></button> -->
                </div>

                <div class="p-field p-col-6 p-md-6 p-sm-6" *ngIf="showCantidadMaximaUso">              
                  <label for="nroUso" *ngIf="showtipo1" >Cantidad máxima de uso(*):</label>
                  <label for="nroUso" *ngIf="showtipo2 && this.type !== 'N'" style="font-weight: bolder;" >Cantidad máxima de uso actual ({{CantidadInte2}}):</label>
                  <input #nroUso="ngModel" id="nroUso" type="number" pInputText [(ngModel)]="cuponOmni.nroUso" name="nroUso" min="1" [disabled]="!showtipo2">
                  <small class="p-error" *ngIf="nroUso.value == 0 && this.selectCountTimes == '1'">Cantidad máxima de uso diferente de cero.</small>              
                </div>

                <div class="p-field p-col-6 p-md-6 p-sm-6" *ngIf="showCodigo">
                  <label for="codigo">Código:</label>
                  <input id="codigo" pTooltip="Al crear el código tener en cuenta :
                  *mínimo 4 carácteres
                  *máximo 30 carácteres
                  *sin espacios
                  *sin letra Ñ y O
                  " type="text" aria-describedby="username2-help" tooltipEvent="focus" maxlength="30" pInputText 
                    [(ngModel)]="cuponOmni.codigo" name="codigo" (change) = "codigoChange()" 
                    [ngClass] = "{' ng-invalid ng-dirty ': !formatoCodigo }" [disabled]="type === 'V'"
                  >
                  <small class="p-error" *ngIf="!formatoCodigo">Formato inválido</small>
                </div>

                <!-- Unico OTRO TIPO -->
                <div class="p-field p-col-6 p-md-6 p-sm-6" *ngIf="showMontoPagar">
                  <label for="monto">Nuevo precio del producto(*):</label>
                  <input  id="monto" #monto="ngModel" [(ngModel)]="cuponOmni.monto" name="monto" ng type="number" pInputText [ngClass] = "{' ng-invalid ng-dirty ': monto.value == 0 }" (blur)="parseTwoDecimal(monto.value, 'monto')" [disabled]="type === 'V'">
                  <small class="p-error" *ngIf="monto.value == 0">Monto mínimo diferente de cero.</small>
                </div>

                <div class="p-field p-col-6 p-md-6 p-sm-6" *ngIf="showNecesitaMontoMinimo" style="padding-left: 25px;">
                  <label  for="ny"> Necesita monto mínimo de compra</label>
                  <p-checkbox name="compraminima" value="1" inputId="ny"  (onChange)="valueMinimo($event)" [(ngModel)]="isChecked" [disabled]="type === 'V'" [binary]="true"></p-checkbox>
                </div>

                <div class="p-field p-col-6 p-md-6 p-sm-6" [hidden]="!showMontoMinimo">
                  <label for="compraMin">Monto mínimo de compra(*):</label>
                  <input  id="compraMin" #compraMin="ngModel" [(ngModel)]="cuponOmni.compraMin" name="compraMin" ng type="number" pInputText [ngClass] = "{' ng-invalid ng-dirty ': compraMin.value == 0 }"  (blur)="parseTwoDecimal(compraMin.value, 'compraMin')" [disabled]="type === 'V'">
                  <small class="p-error" *ngIf="compraMin.value == 0 ">Monto mínimo de compra diferente de cero.</small>
                </div>


                <div class="p-field p-col-6 p-md-6 p-sm-6" *ngIf="showMaximoDescuento">
                  <label for="montoMax">Monto máximo de descuento(*):</label>
                  <input  id="montoMax" #montoMax="ngModel" [(ngModel)]="cuponOmni.montoMax" [disabled]="type === 'V'" name="montoMax" ng type="number" pInputText [ngClass] = "{' ng-invalid ng-dirty ': montoMax.value == 0 }"  (blur)="parseTwoDecimal(montoMax.value, 'montoMax')">
                  <small class="p-field" *ngIf="montoMax.value == 0 ">Monto máximo de descuento debe ser menor a Monto Mínimo de descuento.</small>
                </div>

                <div class="p-field p-col-6 p-md-6 p-sm-6" *ngIf="shoPorcentajeDescuento">
                  <label for="percentdsct">Porcentaje de descuento(*):</label>
                  <input  id="percentdsct" #percentdsct="ngModel" [disabled]="type === 'V'" [(ngModel)]="cuponOmni.percentdsct" name="percentdsct" ng type="number" pInputText [ngClass] = "{' ng-invalid ng-dirty ': percentdsct.value == 0 }"  (blur)="parseTwoDecimal(percentdsct.value, 'percentdsct')">
                  <small class="p-error" *ngIf="percentdsct.value == 0 ">Porcentaje de descuento diferente a cero.</small>
                </div>

                <div class="p-field p-col-6 p-md-6 p-sm-6" *ngIf="showDelivery">
                  <label for="percentdsct" >Descuento al delivery(%):</label>
                  <input id="percentdsct" #percentdsct="ngModel" [disabled]="type === 'V'" [(ngModel)]="cuponOmni.percentdsct" name="percentdsct" ng type="text" pInputText disabled>            
                </div>

                <div class="p-field p-col-6 p-md-6 p-sm-6" *ngIf="showMontoDescuento">
                  <label for="percentdsct" >Monto de descuento :</label>
                  <input id="percentdsct" #percentdsct="ngModel" [disabled]="type === 'V'" [(ngModel)]="cuponOmni.percentdsct" name="percentdsct" ng type="number" pInputText [ngClass] = "{' ng-invalid ng-dirty ': percentdsct.value == 0 }"   (blur)="parseTwoDecimal(percentdsct.value, 'percentdsct')" >            
                </div>
              </div>
            </div>
          </p-fieldset>
        </div>
        <!-- Acordeon Canales -->
        <div class="p-mb-2 p-mt-2 accordion-container" *ngIf="type != 'V'" style="flex: 1;">
          <p-fieldset legend="Canales (*)">
            <div class="p-fluid ">
              <div class="p-d-flex" style="justify-content: space-around; align-items: center;">
                <div class="p-field-checkbox mr-1">
                  <p-checkbox name="channel" value="carta-web" [(ngModel)]="webVal" inputId="web" (onChange)="showTableWeb($event)" #checkBox>
                  </p-checkbox>
                  <label for="web">Web</label>
                </div>
                <div class="p-field-checkbox mr-1">
                  <p-checkbox name="channel" value="carta-call" [(ngModel)]="callVal" inputId="call" (onChange)="showTableCall($event)" #checkBox1>
                  </p-checkbox>
                  <label for="call">Call Center</label>
                </div>

                <div class="p-field-checkbox">
                  <p-checkbox name="channel" value="carta-salon" [(ngModel)]="salonVal" inputId="salon" (onChange)="showTableSalon($event)" #checkBox2>
                  </p-checkbox>
                  <label for="salon">Salón</label>
                </div>

                <div class="p-field-checkbox" *ngIf="validaBembos">
                  <p-checkbox name="channel" value="carta-rcolas" [(ngModel)]="rcolasVal" inputId="rcolas" (onChange)="showTableRColas($event)" #checkBox3>
                  </p-checkbox>
                  <label for="salon">Rompe Colas</label>
                </div>
              
              </div>
              <small class="p-error" *ngIf="!checkBox.checked && !checkBox1.checked && !checkBox2.checked">Seleccionar al menos un canal.</small>
            </div>
          </p-fieldset>
        </div>
      </div>

      <div class="mt-1" *ngIf="showTableProducts" [hidden]="!showCanales">
        <p-fieldset legend="Productos">

          <!-- Start Dialog -->
          <p-dialog header="Agregar cantidad" [(visible)]="displayModal" [modal]="true"
          [style]="{width: '25vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
          <div id="container" class="p-d-flex p-flex-column">
            <p class="text-center">Producto Seleccionado : </p>
            <p class="text-center">{{selectionProduct.nombre}}</p>
            <p class="text-center">Cantidad de Producto</p>
            <div class="p-mb-2" style="margin: auto;">
              <input type="number" #cantidad pInputText min="1"/>
            </div>

            <div class="p-mb-2 mt-2">
              <div class="p-d-flex p-jc-center">
                <!-- (click)="addProductwithAcount(cantidad)" -->
                <button pButton pRipple 
                  label="Agregar" icon="pi pi-plus" class="p-button-success p-mr-2"></button>
                <button pButton pRipple (click)="cancelarModal()" label="Cancelar" icon="pi pi-times"
                  class="p-button-secondary"></button>
              </div>
            </div>
          </div>

        </p-dialog>
        <!-- End dialog -->

          <!-- Tabla carta web -->
          <div *ngIf="showProductsWeb && type != 'V'">
            <div class="p-fluid ">
              <div class="p-d-flex p-jc-between">
                <div>
                  <p class="title-carta">Carta Web</p>
                </div>
                <div>
                  <div class="p-col-12 ">
                    <div class="p-inputgroup">
                      <!-- <button type="button" pButton pRipple label="Buscar"></button> -->
                      <input (keyup)="filtroWeb()" name="searchweb"  #searchweb="ngModel" [(ngModel)]="searchWeb" type="text" pInputText placeholder="Buscar...">
                    </div>
                  </div>
                </div>
                <div>
                  <div class="p-col-12 ">

                    <div class="p-inputgroup">
                      <!-- " -->
                      <button pButton pRipple label="Agregar Producto"  (click)="showModalDialogCartaWeb()"
                      icon="pi pi-plus" class="p-button-success p-mr-2"></button>
                    </div>

                  </div>
                </div>
              </div>

            </div>
            <div>
                <p-table #dt [value]="productosCartaWeb" [responsive]="true" [rows]="15" [paginator]="true" [rowHover]="true" dataKey="codigo"  
                [globalFilterFields]="['codigo', 'producto']" [scrollable]="true" scrollHeight="40vh"
                selectionMode="multiple" [(selection)]="CartaWebSelected" styleClass="p-datatable-sm p-datatable-striped" columnResizeMode="expand"
                currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros" [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[15,25,50,100]">

                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 4rem">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="producto">Nombre Producto <p-sortIcon field="producto"></p-sortIcon>
                    </th>
                    <th pSortableColumn="producto">Código Producto <p-sortIcon field="producto"></p-sortIcon>
                    </th>
                    <th pSortableColumn="carta">Carta <p-sortIcon field="carta"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-ProductoCarta>
                  <tr [pSelectableRow]="ProductoCarta">
                    <td style="width: 4rem">
                      <p-tableCheckbox [value]="ProductoCarta"></p-tableCheckbox>
                    </td>
                    <td>{{ProductoCarta.producto}}</td>
                    <td>{{ProductoCarta.codigo}}</td>
                    <td>{{ProductoCarta.menu}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <!-- Tabla carta call center -->
          <div class="mt-1" *ngIf="showProductsCall && type != 'V'">
            <div>
              <div class="p-fluid ">
                <div class="p-d-flex p-jc-between">
                  <div>
                    <p class="title-carta">Carta Call Center</p>
                  </div>
                  <div>
                    <div class="p-col-12 ">
                      <div class="p-inputgroup">
                        <!-- <button type="button" pButton pRipple label="Buscar"></button> -->
                        <input (keyup)="filtroCall()" name="searchcall"  #searchcall="ngModel" [(ngModel)]="searchCall" type="text" pInputText placeholder="Buscar...">
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="p-col-12 ">
                      <div class="p-inputgroup">
                        <!--  -->
                        <button pButton pRipple label="Agregar Producto" (click)="showModalDialogCartaCall()"
                        icon="pi pi-plus" class="p-button-success p-mr-2"></button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div>
                <p-table #dt [value]="productosCartaCallCenter" [responsive]="true" [rows]="15" [paginator]="true" [rowHover]="true" dataKey="codigo"  
                [globalFilterFields]="['codigo', 'producto']" [scrollable]="true" scrollHeight="40vh"
                selectionMode="multiple" [(selection)]="CartaCallSelected" styleClass="p-datatable-sm p-datatable-striped" columnResizeMode="expand"
                currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros" [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[15,25,50,100]">

                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 4rem">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="producto">Nombre Producto <p-sortIcon field="producto"></p-sortIcon>
                    </th>
                    <th pSortableColumn="producto">Código Producto <p-sortIcon field="producto"></p-sortIcon>
                    </th>
                    <th pSortableColumn="carta">Carta <p-sortIcon field="carta"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-ProductoCarta>
                  <tr [pSelectableRow]="ProductoCarta">
                    <td style="width: 4rem">
                      <p-tableCheckbox [value]="ProductoCarta"></p-tableCheckbox>
                    </td>
                    <td>{{ProductoCarta.producto}}</td>
                    <td>{{ProductoCarta.codigo}}</td>
                    <td>{{ProductoCarta.menu}}</td>
                  </tr>
                </ng-template>

              </p-table>
            </div>
            </div>
          </div>

          <!-- Tabla carta salón -->
          <div class="mt-1" *ngIf="showProductsSalon && type != 'V'">
            <div>
              <div class="p-fluid ">
                <div class="p-d-flex p-jc-between">
                  <div>
                    <p class="title-carta">Carta Salón</p>
                  </div>
                  <div>
                    <div class="p-col-12 ">
                      <div class="p-inputgroup">
                       <!--  <button type="button" pButton pRipple label="Buscar"></button> -->
                        <input (keyup)="filtroSalon()" name="searchsalon"  #searchsalon="ngModel" [(ngModel)]="searchSalon" type="text" pInputText placeholder="Buscar...">
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="p-col-12 ">
                      <div class="p-inputgroup">
                        <!--  -->
                        <button pButton pRipple label="Agregar Producto" (click)="showModalDialogCartaSalon()"
                        icon="pi pi-plus" class="p-button-success p-mr-2"></button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div>
                <p-table #dt [value]="productosCartaSalon" [responsive]="true" [rows]="15" [paginator]="true" [rowHover]="true" dataKey="codigo"  
                [globalFilterFields]="['codigo', 'producto']" [scrollable]="true" scrollHeight="40vh"
                selectionMode="multiple" [(selection)]="CartaSalonSelected" styleClass="p-datatable-sm p-datatable-striped" columnResizeMode="expand"
                currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros" [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[15,25,50,100]">

                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 4rem">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="producto">Nombre Producto <p-sortIcon field="producto"></p-sortIcon>
                    </th>
                    <th pSortableColumn="producto">Código Producto <p-sortIcon field="producto"></p-sortIcon>
                    </th>
                    <th pSortableColumn="carta">Carta <p-sortIcon field="carta"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-ProductoCarta>
                  <tr [pSelectableRow]="ProductoCarta">
                    <td style="width: 4rem">
                      <p-tableCheckbox [value]="ProductoCarta"></p-tableCheckbox>
                    </td>
                    <td>{{ProductoCarta.producto}}</td>
                    <td>{{ProductoCarta.codigo}}</td>
                    <td>{{ProductoCarta.menu}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            </div>
          </div>

          <!-- Tabla carta Rompe Colas -->
          <div class="mt-1" *ngIf="showProductsRColas && type != 'V'">
            <div class="p-fluid ">
              <div class="p-d-flex p-jc-between">
                <div>
                  <p class="title-carta">Carta Rompecolas</p>
                </div>
                <div>
                  <div class="p-col-12 ">
                    <div class="p-inputgroup">
                      <!-- <button type="button" pButton pRipple label="Buscar"></button> -->
                      <input (keyup)="filtrorCOLAS()" name="searchrcolas"  #searchrcolas="ngModel" [(ngModel)]="searchrColas" type="text" pInputText placeholder="Buscar...">
                    </div>
                  </div>
                </div>
                <div>
                  <div class="p-col-12 ">

                    <div class="p-inputgroup">
                      <!-- " -->
                      <button pButton pRipple label="Agregar Producto"  (click)="showModalDialogCartaRcolas()"
                      icon="pi pi-plus" class="p-button-success p-mr-2"></button>
                    </div>

                  </div>
                </div>
              </div>

            </div>
            <div>
                <p-table #dt [value]="productosCartaRcolas" [responsive]="true" [rows]="15" [paginator]="true" [rowHover]="true" dataKey="codigo"  
                [globalFilterFields]="['codigo', 'producto']" [scrollable]="true" scrollHeight="40vh"
                selectionMode="multiple" [(selection)]="CartaRcolasSelected" styleClass="p-datatable-sm p-datatable-striped" columnResizeMode="expand"
                currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros" [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[15,25,50,100]">

                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 4rem">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="producto">Nombre Producto <p-sortIcon field="producto"></p-sortIcon>
                    </th>
                    <th pSortableColumn="producto">Código Producto <p-sortIcon field="producto"></p-sortIcon>
                    </th>
                    <th pSortableColumn="carta">Carta <p-sortIcon field="carta"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-ProductoCarta>
                  <tr [pSelectableRow]="ProductoCarta">
                    <td style="width: 4rem">
                      <p-tableCheckbox [value]="ProductoCarta"></p-tableCheckbox>
                    </td>
                    <td>{{ProductoCarta.producto}}</td>
                    <td>{{ProductoCarta.codigo}}</td>
                    <td>{{ProductoCarta.menu}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>

          <hr>
          <!-- Tabla resumen -->
          <div class="mt-1" *ngIf="type != 'V'">
            <div class="summary-product">
              <div class="p-fluid ">
                <div class="p-d-flex p-jc-between">
                  <div>
                    <p class="title-carta">Productos Seleccionados</p>

                  </div>

                  <div>
                    <div class="p-col-12 ">
                      <div class="p-inputgroup">
                        <button pButton pRipple label="Quitar Producto" icon="pi pi-times" (click)="QuitarProducto()"
                          class="p-button-danger p-mr-2"></button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div>
                <p-table #dt [value]="productosCartaConsolidado" [responsive]="true" [rows]="15" [paginator]="true" [rowHover]="true" dataKey="codigo"  
                [globalFilterFields]="['codigo', 'producto']" [scrollable]="true" scrollHeight="40vh"
                selectionMode="single" [(selection)]="CartaConsolidadoSelectedSelected" styleClass="p-datatable-sm p-datatable-striped" columnResizeMode="expand"
                currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros" [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[15,25,50,100]">
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="producto">Nombre Producto <p-sortIcon field="producto"></p-sortIcon>
                    </th>
                    <th pSortableColumn="producto">Código Producto <p-sortIcon field="producto"></p-sortIcon>
                    </th>
                    <th pSortableColumn="carta">Carta <p-sortIcon field="carta"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-ProductoCarta>
                  <tr [pSelectableRow]="ProductoCarta">
                    <td>{{ProductoCarta.producto}}</td>
                    <td>{{ProductoCarta.codigo}}</td>
                    <td>{{ProductoCarta.menu}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            </div>
          </div>


          <div *ngIf="type == 'V'">
            <p-table #dt [value]="detalles" [responsive]="true" [rows]="15" [paginator]="true" [rowHover]="true" dataKey="codProducto"  
            [globalFilterFields]="['codProducto', 'producto']" [scrollable]="true" scrollHeight="40vh"
            selectionMode="single" [(selection)]="DetalleSelected" styleClass="p-datatable-sm p-datatable-striped" columnResizeMode="expand"
            currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[15,25,50,100]">

            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="producto">Canal<p-sortIcon field="producto"></p-sortIcon>
                </th>
                <th pSortableColumn="producto">Nombre Producto<p-sortIcon field="producto"></p-sortIcon>
                </th>
                <th pSortableColumn="carta">Codigo de Producto<p-sortIcon field="carta"></p-sortIcon>
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-detalle>
              <tr [pSelectableRow]="detalle">
                <td>{{detalle.canal}}</td>
                <td>{{detalle.codProducto}}</td>
                <td>{{detalle.nomProducto}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        </p-fieldset>
      </div>
    </div>
    <div class="p-d-flex mt-2 mb-2 w-100">
      <div class="p-inputgroup p-d-flex p-jc-end ">
        <button pButton pRipple label="Guardar" icon="pi pi-save" class="p-button-lg p-button-success p-mr-2" (click)="guardarCupon();" *ngIf="type != 'V'" [disabled]="isClicked"></button>
      </div>
      <div class="p-inputgroup p-d-flex p-jc-end ">
        <button pButton pRipple label="Generar Cupones" icon="pi pi-save" class="p-button-lg p-button-success p-mr-2" (click)="bloquear(); MasCupones()"  *ngIf="type == 'V'" [disabled]="isClicked"></button>
      </div>
      <div class="p-inputgroup">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-lg p-button-secondary p-mr-2"
          (click)="cancelar()"></button>
      </div>
    </div>
  </form>
</div>
