<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin" [fullScreen]="true">
     <p style="color: white"> Cargando... </p>
</ngx-spinner>

<div class="card col">
     <p-table #dt [value]="loginFallidoList" [responsive]="true" [rows]="25" [paginator]="true" [rowHover]="true" dataKey="id"  
               [scrollable]="true" scrollHeight="40vh" styleClass="p-datatable-sm p-datatable-striped" columnResizeMode="expand"
               currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros" [showCurrentPageReport]="true"
               [rowsPerPageOptions]="[15,25,50,100]">
          <ng-template pTemplate="caption">
               <div class="p-d-flex p-ai-center p-jc-between">
                    <h1 class="p-m-0">Inicios de Sesión</h1>
               </div>
          </ng-template>
          <ng-template pTemplate="colgroup">
               <colgroup *ngIf="!isMobile">
                    <col style="width:15%;">
                    <col style="width:15%;">
                    <col style="width:20%;">
                    <col style="width:30%;">
               </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
               <tr>
                    <th pSortableColumn="userId">Usuario <p-sortIcon field="userId"></p-sortIcon></th>
                    <th pSortableColumn="ip">IP <p-sortIcon field="ip"></p-sortIcon></th>
                    <th pSortableColumn="date">Fecha <p-sortIcon field="date"></p-sortIcon></th>
                    <th pSortableColumn="idPadre">Tipo <p-sortIcon field="idPadre"></p-sortIcon></th>
                    <th>Aplicacion </th>
               </tr>
               <tr>
                    <td><p-columnFilter type="text" field="userId" [showMenu]="true" placeholder="Filtrar Código"></p-columnFilter></td>
                    <td><p-columnFilter type="text" field="ip" [showMenu]="true" placeholder="Filtrar IP"></p-columnFilter></td>
                    <td>
                         <p-calendar appendTo="body" placeholder="Filtrar Fecha" inputStyleClass="p-text-center" (onSelect)="changeFecha($event, dt)" 
                              (onClearClick)="clearFecha(dt)" [touchUI]="isMobile" dateFormat="dd/mm/yy" [showButtonBar]="true" [readonlyInput]="true">
                         </p-calendar>
                    </td>
                    <td>
                         <p-columnFilter field="type" matchMode="in" [showMenu]="false">
                              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                   <p-dropdown appendTo="body" [options]="tipoList" styleClass="p-column-filter" [showClear]="true" class="p-ml-auto" placeholder="Filtrar Tipo" 
                                        (onChange)="filterType($event, dt)" optionLabel="descripcion">
                                   </p-dropdown>
                              </ng-template>
                         </p-columnFilter>
                    </td>
                    <td>
                         <p-columnFilter field="type" matchMode="in" [showMenu]="false">
                              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                   <p-dropdown appendTo="body" [options]="aplicacionList" placeholder="Filtrar Aplicación" styleClass="p-column-filter" [showClear]="true" class="p-ml-auto" (onChange)="filterApplication($event, dt)" optionLabel="name">
                                   </p-dropdown>
                              </ng-template>
                         </p-columnFilter>
                    </td>
               </tr>
          </ng-template>
          <ng-template pTemplate="body" let-login>
               <tr >
                    <td><span class="p-column-title">Usuario</span>{{login.userId}}</td>
                    <td ><span class="p-column-title">IP</span>{{login.ip}}</td>
                    <td ><span class="p-column-title">Fecha</span>{{login.date | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td ><span class="p-column-title">Tipo</span>{{login.type | attemptType}}</td>
                    <td ><span class="p-column-title">Aplicación</span>{{login.applicationId | aplicacion: aplicacionList}}</td>
               </tr>
          </ng-template>
          <ng-template pTemplate="summary">
               <div class="p-d-flex p-ai-center p-jc-between">
                    {{(loginFallidoList ? loginFallidoList.length : 0) | i18nPlural: cantidadMap}}
               </div>
          </ng-template>
     </p-table>
</div>
