<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin" [fullScreen]="true">
    <p style="color: white"> Cargando... </p>
</ngx-spinner>

<div class="card col">
    <div class="p-grid">
        <div class="p-col-12 p-lg-12 p-md-12 p-sm-12">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-6 p-lg-6 p-md-6 p-sm-12">
                    <label for="estado">Tiendas:</label>
                    <p-multiSelect [options]="tiendaList" [(ngModel)]="tiendasSeleccionadas" optionLabel="nombre" defaultLabel="Seleccione las tiendas" selectedItemsLabel="{0} tiendas seleccionadas"></p-multiSelect>
                </div>
                <div class="p-field p-col-2 p-lg-2 p-md-2 p-sm-12">
                    <label for="estado">Fecha Inicio:</label>
                    <p-calendar [(ngModel)]="feInicio" dateFormat="dd/mm/yy" inputStyleClass="p-text-center"></p-calendar>
                </div>
                <div class="p-field p-col-2 p-lg-2 p-md-2 p-sm-12">
                    <label for="estado">Fecha Fin:</label>
                    <p-calendar [(ngModel)]="feFin" dateFormat="dd/mm/yy" inputStyleClass="p-text-center"></p-calendar>
                </div>
                <div class="p-field p-col-2 p-lg-2 p-md-2 p-sm-12 p-mt-4">
                    <button pRipple pButton label="Buscar" icon="pi pi-search" (click)="buscar()"> </button>
                </div>
            </div>
        </div>

        <p-tabView class="p-col-12 p-lg-12 p-md-12 p-sm-12">
            <p-tabPanel header="Resultados" leftIcon="pi pi-chart-bar">
                <p-table [value]="pagadoList" [responsive]="true" [rowHover]="true" [scrollable]="true" 
                        scrollHeight="40vh" styleClass="p-datatable-sm p-datatable-striped">
                    <ng-template pTemplate="colgroup">
                        <col style="width:150px;">
                        <col style="width:80px;">
                        <col style="width:70px;">
                        <col style="width:70px;">
                        <col style="width:250px;">
                        <col style="width:250px;">
                        <col style="width:250px;">
                        <col style="width:250px;">
                        <col style="width:50px;">
                        <col style="width:170px;">
                        <col style="width:60px;">
                        <col style="width:100px;">
                        <col style="width:100px;">
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Unidad Negocio </th>
                            <th style="text-align: center;">Fecha </th>
                            <th style="text-align: center;">Base </th>
                            <th style="text-align: center;">Centro </th>
                            <th>Tienda </th>
                            <th>Pagado/Cobrado </th>
                            <th>Cajero </th>
                            <th>Gerente </th>
                            <th style="text-align: center;">Turno </th>
                            <th style="text-align: center;">Fecha Hora </th>
                            <th style="text-align: center;">Moneda </th>
                            <th style="text-align: right;">Moneda Original </th>
                            <th style="text-align: right;">Moneda S/. </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-pago >
                        <tr>
                            <td>{{pago.unidadNegocio}}</td>
                            <td style="text-align: center;">{{pago.openDate}}</td>
                            <td style="text-align: center;">{{pago.codigoTienda}}</td>
                            <td style="text-align: center;">{{pago.centro}}</td>
                            <td>{{pago.tiendaNombre}}</td>
                            <td>{{pago.reasonName}}</td>
                            <td>{{pago.cajero}}</td>
                            <td>{{pago.gerente}}</td>
                            <td style="text-align: center;">{{pago.punchIndex}}</td>
                            <td style="text-align: center;">{{pago.fechaHora | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td style="text-align: center;">{{pago.moneda}}</td>
                            <td style="text-align: right;">{{pago.montoOriginal | number: '.2-2'}}</td>
                            <td style="text-align: right;">{{pago.montoSoles | number: '.2-2'}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-tabPanel>
            <p-tabPanel header="Tiendas no Conectadas" leftIcon="pi pi-home">
                <app-tienda-error [tiendaErrorList]="tiendaErrorList"></app-tienda-error>
            </p-tabPanel>
        </p-tabView>

        <div class="p-col-12 p-lg-12 p-md-12 p-sm-12">
            <button pRipple pButton label="Exportar" icon="pi pi-file-excel" class="p-mr-2" (click)="exportar()"> </button>
        </div>
    </div>
</div>