<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin" [fullScreen]="true">
     <p style="color: white"> Cargando... </p>
 </ngx-spinner>
 
 <div class="card col">
     <h1>{{title}}</h1>
     <hr>
 
     <form #formulario="ngForm" class="p-fluid p-formgrid p-grid" autocomplete="off">
          <div class="p-field p-col-12 p-lg-12 p-md-12 p-sm-12">
               <label for="id" [ngClass] = "{' p-error ': id.invalid && (id.dirty || id.touched)}">Id: </label>
               <input id="id" type="text" pInputText [ngClass] = "{' ng-invalid ng-dirty ': id.invalid && (id.dirty || id.touched)}"  
                      [(ngModel)]="rol.id"  name="id" #id="ngModel" [disabled]="type !== 'N'" autofocus  tabindex="1" >
               <small *ngIf="id.invalid && (id.dirty || id.touched)" id="password-help" class="p-error">
                    El <strong>Id</strong> es requerido.
               </small>
          </div>
                  
          <div class="p-field p-col-12 p-lg-12 p-md-12 p-sm-12">
               <label for="descripcion" [ngClass] = "{' p-error ': descripcion.invalid && (descripcion.dirty || descripcion.touched)}">Descripción: (*)</label>
               <input id="descripcion" type="text" pInputText required maxlength="100"
                     [ngClass] = "{' ng-invalid ng-dirty ': descripcion.invalid && (descripcion.dirty || descripcion.touched)}"  
                     [(ngModel)]="rol.name" name="descripcion" #descripcion="ngModel"
                     [disabled]="type === 'V'" tabindex="2" >
               <small *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" id="password-help" class="p-error">
                    La <strong>descripción</strong> es requerida.
               </small>
          </div>

          <div class="p-field p-col-12 p-lg-12 p-md-12 p-sm-12">
               <label for="comentario">Comentario: </label>
               <input id="comentario" type="text" pInputText maxlength="100"
                     [(ngModel)]="rol.comment" name="comentario" #comentario="ngModel"
                     [disabled]="type === 'V'" tabindex="3">
          </div>
     
          <div class="p-field p-col-12 p-lg-12 p-md-12 p-sm-12">
               <label for="rolPadre">Rol Padre: </label>
               <p-dropdown [options]="rolesDisponibles" [disabled]="type === 'V'" [autofocus]="true" [(ngModel)]="rolPadreSeleccionado" 
                        optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Seleccione un Rol" 
                        name="rolPadre" #rolPadre="ngModel" [tabindex]="4"></p-dropdown>
          </div>
     </form>
 
     <div class="p-d-flex p-jc-end p-mt-3">
         <button pButton pRipple pTooltip="Guardar"  tooltipPosition="bottom" label="Guardar"  icon="pi pi-save"  class="p-button-success p-mr-2" (click)="save()" [disabled]="!formulario.form.valid" *ngIf="type !== 'V'"></button>
         <button pButton pRipple pTooltip="Cancelar" tooltipPosition="bottom" label="Cancelar" icon="pi pi-times" class="p-button-secondary" (click)="cancelar()"></button>
     </div>
 </div>
