<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin" [fullScreen]="true">
    <p style="color: white"> Cargando... </p>
</ngx-spinner>

<div class="card col">
    <p-toolbar styleClass="p-mb-4">
         <ng-template pTemplate="left">
        </ng-template>

         <ng-template pTemplate="right">
              <button pButton pRipple pTooltip="Exportar" tooltipPosition="bottom" label="Exportar" icon="pi pi-upload" (click)="exportXLS()" styleClass="p-button-info"></button>
         </ng-template>
    </p-toolbar>

    <p-table [value]="clientList" [responsive]="true" [rows]="25" [paginator]="true" [rowHover]="true" 
              [scrollable]="true" scrollHeight="40vh" [rowsPerPageOptions]="[15,25,50,100]"  
              currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros" [showCurrentPageReport]="true"
              styleClass="p-datatable-sm p-datatable-striped">
         <ng-template pTemplate="caption">
              <div class="p-d-flex p-grid">
                   <div class="p-col-12 p-ai-center vertical-container">
                        <h1 class="p-m-0">Clientes Cyber</h1>
                   </div>
                   
                   <div class="p-col-12">
                        <div class="p-fluid p-formgrid p-grid">
                             <div class="p-field p-lg-2 p-md-2 p-sm-12">
                                  <label for="cantidad">Inicio:</label>
                                  <p-calendar [(ngModel)]="rangeDates[0]" dateFormat="dd/mm/yy" inputStyleClass="p-text-center" [touchUI]="isMobile"></p-calendar>
                             </div>

                             <div class="p-field p-lg-2 p-md-2 p-sm-12">
                                  <label for="cantidad">Fin:</label>
                                  <p-calendar [(ngModel)]="rangeDates[1]" dateFormat="dd/mm/yy" inputStyleClass="p-text-center" [touchUI]="isMobile"></p-calendar>
                             </div>

                             <div class="p-field p-lg-2 p-md-2 p-sm-2">
                                  <button pButton pRipple pTooltip="Buscar" tooltipPosition="bottom" type="button" label="Buscar" style="margin-top: 1.75rem" icon="pi pi-search" (click)="buscar()"></button>
                             </div>
                        </div>
                   </div>
              </div>
         </ng-template>
         <ng-template pTemplate="colgroup">
              <colgroup *ngIf="!isMobile">
                   <col style="width:30%;">
                   <col style="width:10%;">
                   <col style="width:35%;">
                   <col style="width:10%;">
              </colgroup>
         </ng-template>
         <ng-template pTemplate="header">
              <tr>
                   <th pSortableColumn="name" >Nombre <p-sortIcon field="name"></p-sortIcon></th>
                   <th pSortableColumn="dni" [ngClass]="{'p-text-center': !isMobile}">DNI <p-sortIcon field="dni"></p-sortIcon></th>
                   <th pSortableColumn="email" >E-Mail <p-sortIcon field="email"></p-sortIcon></th>
                   <th pSortableColumn="phone">Teléfono <p-sortIcon field="phone"></p-sortIcon></th>
                   <th pSortableColumn="date" [ngClass]="{'p-text-center': !isMobile}">F.Registro <p-sortIcon field="date"></p-sortIcon></th>
              </tr>
         </ng-template>
         <ng-template pTemplate="body" let-client>
              <tr>
                   <td ><span class="p-column-title">Nombre</span>{{client.name | uppercase }}</td>
                   <td [ngClass]="{'p-text-center': !isMobile}"><span class="p-column-title">DNI</span>{{client.dni}}</td>
                   <td><span class="p-column-title">E-Mail</span>{{client.email | uppercase}}</td>
                   <td><span class="p-column-title">Teléfono</span>{{client.phone}}</td>
                   <td [ngClass]="{'p-text-center': !isMobile}"><span class="p-column-title">F.Registro</span>{{client.date | date: 'dd/MM/yyyy'}}</td>
              </tr>
         </ng-template>
         <ng-template pTemplate="summary">
              <div class="p-d-flex p-ai-center p-jc-between">
                   {{(clientList ? clientList.length : 0) | i18nPlural: cantidadMap}}
              </div>
         </ng-template>
    </p-table>
</div>