pre {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    word-wrap: break-word;
}

code {
    flex: 1;
    font-size: 14px;
    min-height: 100%;
}

:host ::ng-deep .p-fileupload .p-fileupload-content {
    padding: 0rem 0rem;
}