@media screen and (max-width: 40rem) {

     :host ::ng-deep .p-button-label  {
          display: none !important;
     }
 
     :host ::ng-deep .p-button-icon-left  {
          margin-right: 0rem;
     }

}

.wrap {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

