<div id="container" class="p-d-flex p-flex-column">
    <div class="p-mb-2">
         <div class="p-field p-grid p-col-12 p-lg-12 p-md-12 p-sm-12 ">
              <label for="inicio">Nueva Fecha de Fin:</label>
              <div class="p-col">
                   <p-calendar appendTo="body" id="inicio"  name="vdesde"  dateFormat="dd/mm/yy" inputStyleClass="p-text-center">
                   </p-calendar>
              </div>
         </div>
    </div>

    <div class="p-mb-2">
         <div class="p-d-flex p-jc-end">
              <button pButton pRipple pTooltip="Ampliar" tooltipPosition="bottom" label="Ampliar Fecha"   icon="pi pi-calendar-plus" class="p-button-success p-mr-2"></button>
              <button pButton pRipple pTooltip="Cancelar" tooltipPosition="bottom" label="Cancelar"  icon="pi pi-times" class="p-button-secondary"></button>
         </div>
    </div>
</div>
