<p-table #dt id="dt" [value]="aplicacionesRol" [responsive]="true" [rowHover]="true" [scrollable]="true" scrollHeight="40vh"
          styleClass="p-datatable-sm p-datatable-striped" columnResizeMode="expand">
     <ng-template pTemplate="caption">
          <div class="p-formgroup-inline">
               <div class="p-field p-mt-2">
                   <label for="firstname">Rol: </label> 
               </div>
               <div class="p-field"> 
                    <p-dropdown appendTo="body" [options]="roles" [(ngModel)]="rolSeleccionado" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" 
                         placeholder="Seleccione un Rol" name="rol" #rol="ngModel" [tabindex]="1"></p-dropdown>
               </div>
               <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success" (click)="agregar()" pTooltip="Agregar" tooltipPosition="bottom"></button>
           </div>
     </ng-template>
     <ng-template pTemplate="colgroup">
          <colgroup *ngIf="!isMobile">
               <col style="width:30%;">
               <col style="width:60%;">
          </colgroup>
     </ng-template>
     <ng-template pTemplate="header">
          <tr>
               <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
               <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
               <th >Acción</th>
          </tr>
     </ng-template>
     <ng-template pTemplate="body" let-aplicacionRol>
          <tr>
               <td><span class="p-column-title">Id</span>{{aplicacionRol.rol.id}}</td>
               <td><span class="p-column-title">Nombre</span>{{aplicacionRol.rol.name}}</td>
               <td><span class="p-column-title">Acción</span><button pButton pRipple label="Eliminar" class="p-button-danger" (click)="delete(aplicacionRol)"></button></td>
          </tr>
     </ng-template>
</p-table>

<div class="p-d-flex p-jc-end p-mt-3">
     <button pButton pRipple label="Cerrar" (click)="cerrar()" icon="pi pi-times" class="p-button-secondary"></button>
 </div>
