<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin" [fullScreen]="true">
     <p style="color: white"> Cargando... </p>
</ngx-spinner>

<div class="card col">
     <p-toolbar styleClass="p-mb-4">
          <ng-template pTemplate="left">
               <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="add()" pTooltip="Nuevo" tooltipPosition="bottom"></button>
               <button pButton pRipple label="Editar" icon="pi pi-pencil" class="p-button-info p-mr-5" (click)="edit()" pTooltip="Editar" tooltipPosition="bottom"></button>
               <button pButton pRipple label="Activar" icon="pi pi-times" class="p-button-danger p-mr-5" (click)="remove()" pTooltip="Activar" tooltipPosition="bottom"></button>
               <button pButton pRipple label="Inactivar" icon="pi pi-times" class="p-button-danger p-mr-5" (click)="remove()" pTooltip="Inactivar" tooltipPosition="bottom"></button>
               <button pButton pRipple label="Consultar" icon="pi pi-eye" class="p-button-help" (click)="view()" pTooltip="Consultar" tooltipPosition="bottom"></button>
          </ng-template>

          <ng-template pTemplate="right">
               <button pButton pRipple label="Exportar" icon="pi pi-upload" styleClass="p-button-info" (click)="exportList()" pTooltip="Exportar" tooltipPosition="bottom"></button>
          </ng-template>
     </p-toolbar>

     <p-table #dt [value]="tiendaList" [responsive]="true" [rows]="25" [paginator]="true" [rowHover]="true" dataKey="id"  
               [globalFilterFields]="['descripcion']" [scrollable]="true" scrollHeight="40vh"
               selectionMode="single" [(selection)]="tiendaSelected" styleClass="p-datatable-sm p-datatable-striped" columnResizeMode="expand"
               currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros" [showCurrentPageReport]="true"
               [rowsPerPageOptions]="[15,25,50,100]">
          <ng-template pTemplate="caption">
               <div class="p-d-flex p-ai-center p-jc-between">
                    <h1 class="p-m-0">Tiendas</h1>

                    <span class="p-input-icon-left">
                         <i class="pi pi-search"></i>
                         <input pInputText #txtFind type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Buscar..."  autocomplete="off"/>
                    </span>
               </div>
          </ng-template>
          <ng-template pTemplate="colgroup">
               <colgroup *ngIf="!isMobile">
                    <col style="width:10%;">
               </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
               <tr>
                    <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="descripcion">Nombre <p-sortIcon field="descripcion"></p-sortIcon></th>
                    <th pSortableColumn="descripcion">Inicio <p-sortIcon field="descripcion"></p-sortIcon></th>
                    <th pSortableColumn="descripcion">Tienda Pixel <p-sortIcon field="descripcion"></p-sortIcon></th>
                    <th pSortableColumn="descripcion">Delivery <p-sortIcon field="descripcion"></p-sortIcon></th>
                    <th pSortableColumn="descripcion">Usu.Terminal<p-sortIcon field="descripcion"></p-sortIcon></th>
                    <th pSortableColumn="descripcion">Usu.Interfaz<p-sortIcon field="descripcion"></p-sortIcon></th>
                    <th pSortableColumn="descripcion">Estado<p-sortIcon field="descripcion"></p-sortIcon></th>
               </tr>
          </ng-template>
          <ng-template pTemplate="body" let-tienda>
               <tr [pSelectableRow]="tienda">
                    <td><span class="p-column-title">Id</span>{{tienda.id}}</td>
                    <td ><span class="p-column-title">Descripción</span>{{tienda.descripcion}}</td>
               </tr>
          </ng-template>
          <ng-template pTemplate="summary">
               <div class="p-d-flex p-ai-center p-jc-between">
                    {{(tiendaList ? tiendaList.length : 0) | i18nPlural: cantidadMap}}
               </div>
          </ng-template>
     </p-table>
</div> 
